#!/bin/bash -ex
set -o pipefail
BACKUP_FILE="/var/ccp/backup/heat/backup-$(date "+%Y%m%d%H%M%S").sql"
mysqldump -h {{ address(service.database) }} \
    -u {{ heat.db.username }} -p{{ heat.db.password }} \
    --single-transaction {{ heat.db.name }} > "${BACKUP_FILE}"